<!doctype html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/private/style.css">
  <title>part 07</title>
</head>

<body>
  <!-- <div class="container">
    <div class="row">
      <div class="col order-md-3 bg-info p-3 border">!</div>
      <div class="col order-md-2 bg-info p-3 border">World</div>
      <div class="col order-md-0 bg-info p-3 border">Hello</div>
    </div>
  </div>
   -->

   <!-- <div class="container">
    <div class="row">
      <div class="col-md-4 bg-info p-3 border">.col-md-4</div>
      <div class="col-md-4 bg-info p-3 border offset-md-4">.col-md-4 .offset-md-4</div>
    </div>
    <div class="row">
      <div class="col-md-3 bg-info p-3 border offset-md-3">.col-md-3 .offset-md-3</div>
      <div class="col-md-3 bg-info p-3 border offset-md-3">.col-md-3 .offset-md-3</div>
    </div>
    <div class="row">
      <div class="col-md-6 bg-info p-3 border offset-md-3">.col-md-6 .offset-md-3</div>
    </div>
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col-md-4 bg-info p-3 border">.col-md-4</div>
      <div class="col-md-4 bg-info p-3 border ms-auto">.col-md-4 .ms-auto</div>
    </div>
    <div class="row">
      <div class="col-md-3 ms-md-auto bg-info p-3 border">.col-md-3 .ms-md-auto</div>
      <div class="col-md-3 ms-md-auto bg-info p-3 border">.col-md-3 .ms-md-auto</div>
    </div>
    <div class="row">
      <div class="col-auto bg-info p-3 border me-auto">.col-auto .me-auto</div>
      <div class="col-auto bg-info p-3 border">.col-auto</div>
    </div>
  </div>

</body>
<script src="/js/bootstrap.bundle.min.js"></script>

</html>