<!doctype html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/private/style.css">
  <title>part 06</title>
</head>

<body>
  <!-- <div class="container">
    <div class="row align-items-start border" style="height: 300px;">
      <div class="col bg-info border p-3">One of three columns</div>
      <div class="col bg-info border p-3">One of three columns</div>
      <div class="col bg-info border p-3">One of three columns</div>
    </div>
  </div>
  <div class="container mt-3"></div>
    <div class="row align-items-center border" style="height: 300px;">
      <div class="col bg-info border p-3">One of three columns</div>
      <div class="col bg-info border p-3">One of three columns</div>
      <div class="col bg-info border p-3">One of three columns</div>
    </div>
  </div>
  <div class="container m-3"></div>
    <div class="row align-items-end border" style="height: 300px;">
      <div class="col bg-info border p-3">One of three columns</div>
      <div class="col bg-info border p-3">One of three columns</div>
      <div class="col bg-info border p-3">One of three columns</div>
    </div>
  </div> -->

  <!-- <div class="container m-3"></div>
    <div class="row border" style="height: 300px;">
      <div class="col align-self-start bg-info border p-3">One of three columns</div>
      <div class="col align-self-center bg-info border p-3">One of three columns</div>
      <div class="col align-self-end bg-info border p-3">One of three columns</div>
    </div>
  </div> -->

  <!-- <div class="container mt-5">
    <div class="row justify-content-start">
      <div class="col-4">One of two columns</div>
      <div class="col-4">One of two columns</div>
    </div>
    <div class="row justify-content-center">
      <div class="col-4">One of two columns</div>
      <div class="col-4">One of two columns</div>
    </div>
    <div class="row justify-content-end">
      <div class="col-4">One of two columns</div>
      <div class="col-4">One of two columns</div>
    </div>
    <div class="row justify-content-around">
      <div class="col-4">One of two columns</div>
      <div class="col-4">One of two columns</div>
    </div>
    <div class="row justify-content-between">
      <div class="col-4">One of two columns</div>
      <div class="col-4">One of two columns</div>
    </div>
    <div class="row justify-content-evenly">
      <div class="col-4">One of two columns</div>
      <div class="col-4">One of two columns</div>
    </div>
  </div> -->

  <!-- <div class="container">
    <div class="row">
      <div class="col-9">.col-9</div>
      <div class="col-4">.col-4<br>Since 9 + 4 = 13 &gt; 12, this 4-column-wide div gets wrapped onto a new line as one contiguous unit.</div>
      <div class="col-6">.col-6<br>Subsequent columns continue along the new line.</div>
    </div>
  </div> -->

  <!-- <div class="container">
    <div class="row">
      <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
      <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
      <div class="w-100"></div>
  
      <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
      <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
    </div>
  </div> -->

  <div class="container">
    <div class="row">
      <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
      <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
    </div>
    <div class="row">
      <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
      <div class="col-6 col-sm-3">.col-6 .col-sm-3</div>
    </div>
  </div>
  
</body>
<script src="/js/bootstrap.bundle.min.js"></script>

</html>