<!doctype html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/private/style.css">
  <title>part 08</title>
</head>
<body>

  <div class="container px-4">
    <!-- gy-5
     g5
     g0 
     z-index -->
    <div class="row gx-5">
      <div class="col">
       <div class="p-3 border bg-light">Custom column padding</div>
      </div>
      <div class="col">
        <div class="p-3 border bg-light">Custom column padding</div>
      </div>
    </div>
  </div>

</body>
<script src="/js/bootstrap.bundle.min.js"></script>

</html>