<!doctype html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/private/style.css">
  <title>part 03</title>
</head>

<body>
  <!-- <div class="container">
    <div class="row justify-content-md-center">
      <div class="col col-lg-2 bg-light border">1 of 3</div>
      <div class="col-md-auto bg-light border">Variable width content</div>
      <div class="col col-lg-2 bg-light border">3 of 3</div>
    </div>
  </div> -->
  <!-- <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6">
      <div class="col bg-light p-4 border">col</div>
      <div class="col bg-light p-4 border">col</div>
      <div class="col bg-light p-4 border">col</div>
      <div class="col bg-light p-4 border">col</div>
      <div class="col bg-light p-4 border">col</div>
      <div class="col bg-light p-4 border">col</div>
      <div class="col bg-light p-4 border">col</div>
      <div class="col bg-light p-4 border">col</div>
      <div class="col bg-light p-4 border">col</div>
      <div class="col bg-light p-4 border">col</div>
      <div class="col bg-light p-4 border">col</div>
      <div class="col bg-light p-4 border">col</div>
    </div> 
  </div>-->
  <div class="container">
    <div class="row">
      <div class="col-sm-9 bg-light p-4 border">
        level 1: .col8 .col-sm-9
        <div class="row">
          <div class="col-8 col-sm6 bg-danger border">
            level 2: .col-8 col-sm-6
          </div>
          <div class="col-4 col-sm6 bg-primary border">
            level 2: .col-4 col-sm-6
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/js/bootstrap.bundle.min.js"></script>

</html>