<!doctype html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/private/style.css">
  <title>part 04</title>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-6 col-md-8 col-lg-9 col-xxl-10 bg-light border">
        <ul>
          <li>6</li>
          <li>8</li>
          <li>9</li>
          <li>10</li>
        </ul>
      </div>
      <div class="col-12 col-sm-6 col-md-4 col-lg-3 col-xxl-2 bg-light border">
        <ul>
          <li>6</li>
          <li>4</li>
          <li>3</li>
          <li>2</li>
        </ul>
      </div>
    </div>
  </div>
</body>
<script src="/js/bootstrap.bundle.min.js"></script>

</html>